fieldset{
    border-radius: 1cap;
    width: 340px;
    border: 2px solid rgb(73, 143, 103);
    padding: 30px;
    margin-left: 550px;
    margin-top: 110px;
    background-color: rgba(240, 240, 240, 0.464);
    box-shadow: 10px 10px 20px rgba(235, 235, 235, 0.5);
}